<!-- Footer -->
<footer id="footer">
	<section id="contact" aria-label="contact" class="contact">
		{% for contact in site.contact %}
			<a class="contact__item" href="{{contact.link}}" target="_blank" aria-label="{{contact.name}}" rel="noopener noreferrer">
				<span class="icon">
					{% include icons/{{contact.svg}} %}
				</span>
				<span class="contact__item__text">{{contact.value}}</span>
			</a>
		{% endfor %}
	</section>

	<section class="page-info" aria-label="page info">
		<span class="page-info__item" aria-label="copyright">&copy; {{site.title}}{{site.subtitle}}</span>
		<a class="page-info__item" href="{{site.author.url}}" aria-label="author">Author: {{site.author.name}}</a>
	</section>
</footer>
