<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	{% if page.description %}
		<meta name="description" content="{{page.description}}" />
	{% endif %}

	{% if page.keywords %}
		<meta name="keywords" content="{{page.keywords}}" />
	{% endif %}

	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic" rel="stylesheet">

	<link rel="stylesheet" href="{{ "assets/css/vars.css" | relative_url }}" />
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<link rel="icon" href="{{ "assets/images/logo.png" | relative_url }}" />

	{% if page.layout == "home" %}
		<link rel="stylesheet" href="{{ "assets/css/home.css" | relative_url }}" />
	{% endif %}

	{% if page.layout == "collection" %}
		<link rel="stylesheet" href="{{ "assets/css/collection.css" | relative_url }}" />
	{% endif %}
</head>
