
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	{% if page.description %}
		<meta name="description" content="{{page.description}}" />
	{% endif %}

	{% if page.keywords %}
		<meta name="keywords" content="{{page.keywords}}" />
	{% endif %}

	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic" rel="stylesheet">

	<link rel="stylesheet" href="{{ "assets/css/vars.css" | relative_url }}" />
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<link rel="icon" href="{{ "assets/images/logo.png" | relative_url }}" />

	<link rel="canonical" href="{{page.url | absolute_url}}" />

	<meta name="robots" content="index, follow, max-snippet:-1, max-video-preview:-1, max-image-preview:large">

	{% if page.layout == "home" %}
		<link rel="stylesheet" href="{{ "assets/css/home.css" | relative_url }}" />
	{% endif %}

	{% if page.layout == "collection" %}
		<link rel="stylesheet" href="{{ "assets/css/collection.css" | relative_url }}" />
	{% endif %}

	{% if page.layout == "post" %}
		<link rel="stylesheet" href="{{ "assets/css/post.css" | relative_url }}" />
	{% endif %}

	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ page.description }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ page.url | absolute_url }}" />
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:locale" content="es_ES" />
	<meta name="google-site-verification" content="YD2GkkR57n9EFBLP9iptqb4lC6Dgxx39BYiMVmCZ0kk" />
