<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	{% if page.description %}
		<meta name="description" content="{{page.description}}" />
	{% endif %}

	{% if page.keywords %}
		<meta name="keywords" content="{{page.keywords}}" />
	{% endif %}

	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<link rel="stylesheet" href="{{ "assets/css/vars.css" | relative_url }}" />
	<link rel="icon" href="{{ "assets/images/logo.png" | relative_url }}" />
</head>
