<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}" class="logo">{{ site.title }}</a>
	<label class="menu">
		<span>Menu</span>
		<input id="hamburger-checkbox" name="hamburger-toggle" type="checkbox" />
		<svg fill="var(--hamburger-color)" class="hamburger" viewBox="0 0 100 100">
			<rect class="line top"		x="10" y="23" rx="5" 	width="80" height="10"></rect>
			<rect class="line middle" 	x="10" y="45" rx="5" 	width="80" height="10"></rect>
			<rect class="line bottom" 	x="10" y="67" rx="5" 	width="80" height="10"></rect> 
		</svg>
	</label>

	<!-- Menu -->
	<nav id="menu-nav">
		<ul class="links">
			{% for page in site.pages %}
				{% if page.layout == "home" %}
					<li><a href="{{ "" | absolute_url }}">{{ page.title }}</a></li>
				{% endif %}
			{% endfor %}
			{% for page in site.html_pages %}
				{% if page.layout != "home" and page.nav-menu == true %}
					<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
</header>
