{% assign p = include.post %}
<a class="row" href="{{ p.slug | slugify }}">
    {% if include.img_side or include.img-side == "left" %}

    <div class="6u 12u$(small)">
        <span class="image fit">
            <img src="{{ site.baseurl}}/{{ p.image }}" alt="some"/>
        </span>
    </div>

    <div class="6u 12u$(small)">
        <h2>{{ p.title }}</h2>
        {{ p.excerpt }}
    </div>

    {% else %}

    <div class="6u 12u$(small)">
        <h2>{{ p.title }}</h2>
        {{ p.excerpt }}
    </div>

    <div class="6u 12u$(small)">
        <span class="image fit">
            <img src="{{ site.baseurl}}/{{ p.image }}" alt="some"/>
        </span>
    </div>

    {% endif %}
</a>