{% if 'posts' == site.tiles-source %}
    {% assign tiles = site.posts %}
{% elsif 'pages' == site.tiles-source %}
    {% assign tiles = site.html_pages | where_exp: "item", "item.show_tile != false" %}
{% endif %}

  {% for tile in tiles limit:site.tiles-count %}
  <article class="tile">
    <img class="tile__background" src="{{ tile.image }}" alt="{{ tile.title }}" />
    
    <a class="tile__foreground" href="{{ tile.url  | relative_url }}">
      <header>
        <h1>{{ tile.title }}</h1>
        <p>{{ tile.description }}</p>
      </header>
    </a>
  </article>
  {% endfor %}
