#main-content {
    #banner {
        padding: 2em;

        min-height: 22em;

        display: flex;
        flex-direction: column;
        justify-content: center;


        h1 {
            border-bottom: solid 3px var(--fg);
            font-size: 3.25rem;

            padding-bottom: .5em;
            margin-bottom: .5em;

            font-weight: 600;
        }

        p {
            text-transform: uppercase;
            letter-spacing: .25em;

            font-size: .7em;
            font-weight: 600;
        }
    }
}