---
---

@use 'header';
@use 'menu';
@use 'footer';


@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
	min-height: 100vh;
	min-height: 100dvh;

	font-family: var(--font);
}

body {
	min-height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

img, picture, svg, video {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	border-bottom: solid 3px var(--fg);
	padding-bottom: .5em;
	margin-bottom: 1em;
	font-weight: 600;
}

p {
	font-weight: 300;
	line-height: 1.65;
	margin-bottom: 1em;
}

strong {
	font-weight: 600;
}