---
---

main {
    section {
        max-width: 60rem;
        margin-inline: auto;

        @media (max-width: 60em) {
            h1 {
                padding-inline: 1em;
            }
        }
    }

    .thumbnail {
        display: block;
        max-height: 450px;
        margin-inline: auto;
    }

    #content {
        padding: 1em;
    }

    #gallery {
        display: grid;
        grid-template-columns: 1fr;

        margin-bottom: 1rem;

        @media (min-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 900px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .other_link {
        border-bottom: dotted 1px;
    }
}