a.center {
    .text-left {
        text-align: left;
    }
    .text-right {
        text-align: right;
    }

    .image-left {
        display: flex;
        justify-content: start;
    }
    .image-right {
        display: flex;
        justify-content: end;
    }

    @media (max-width: 736px) {
        .text-left {
            text-align: center;
        }
        .text-right {
            text-align: center;
        }
    
        .image-left {
            display: flex;
            justify-content: center;
        }
        .image-right {
            display: flex;
            justify-content: center;
        }
    }
}