<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 
    
    <main>
      <h1>{{page.title}}</h1>

      <nav class="links">
        |
        {% for col in site.pages %}
          {% if col.layout == "collection" %}
            <a href="{{ col.url | absolute_url }}"
             class="{% if col.name == page.name %}active{% endif %}"
            >{{col.title}}</a>
            |
          {% endif %}
        {% endfor %}
      </nav>
      <section class="collage">
        {% for p in site[page.tema] %}
          <article class="collage__item artwork">
            <a href="{{ p.url | absolute_url }}">
              <figure>
                <img 
                  loading="lazy"
                  src="{{ p.image | relative_url }}" />
                <figcaption>{{ p.title }}</figcaption>
              </figure>
            </a>
          </article>
        {% endfor %}
      </section>

    </main>

    {% include footer.html %}

    {% include menu.html %}

  </body>

</html>
