<!DOCTYPE html>
<html lang="es">

  <head>
    {% include head.html %}
  </head>
  
  <body>

    {% include header.html %} 
    
    <main>
      <h1>{{page.title}}</h1>

      <nav class="links">
        {% for col in site.pages %}
          {% if col.layout == "collection" %}
            <a href="{{ col.url | absolute_url }}"
             class="{% if col.name == page.name %}active{% endif %}"
            >{{col.title}}</a>
          {% endif %}
        {% endfor %}
      </nav>
      <section class="collage">
        {% for p in site[page.tema] %}
          {% assign keys = p.gallery | split: '/' %}
          {% assign obj = site.data %}
          {% for k in keys %}
            {% if obj[k] %}
              {% assign obj = obj[k] %}
            {% endif %}
          {% endfor %}
          
          {% assign thumbnail = obj.images[obj.thumbnail-index] %}
          <article class="collage__item artwork">
            <a href="{{ p.url | absolute_url }}">
              <figure>
                <img 
                  loading="lazy"
                  src="{{ thumbnail.formats.jpeg.r600 | relative_url }}" />
                <figcaption>{{ p.title }}</figcaption>
              </figure>
            </a>
          </article>
        {% endfor %}
      </section>

    </main>

    {% include footer.html %}

    {% include menu.html %}

  </body>

</html>
