<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <main id="main-content">
        <!-- Banner -->
        <section id="banner">
            <h1>{{ page.landing-title }}</h1>
            
            <p>{{site.description}}</p>
        </section>

        <!-- Main -->
        <section id="tiles">
            {% include tiles.html %}
        </section>

        <section id="bio">
            <header class="major">
                <h2>Biografía</h2>
            </header>
            <p>{{ content }}</p>
        </section>
    </main>

    {% include footer.html %}

</body>

</html>
