<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <main id="main-content">
        <!-- Banner -->
        <section id="banner" class="main__text">
            <h1>{{ page.landing-title }}</h1>
            
            <p>{{site.description}}</p>
        </section>

        <!-- Main -->
        <section id="tiles" class="tiles">
            {% include tiles.html %}
        </section>

        <section id="bio" class="main__text">
            <header class="major">
                <h2>Biografía</h2>
            </header>
            <p>{{ content }}</p>
        </section>
    </main>

    {% include footer.html %}

    {% include menu.html %}

</body>

</html>
