{% assign keys = page.gallery | split: '/' %}
{% assign obj = site.data %}
{% for k in keys %}
	{% if obj[k] %}
		{% assign obj = obj[k] %}
	{% endif %}
{% endfor %}

{% assign thumbnail = obj.images[obj.thumbnail-index] %}

<!DOCTYPE html>
<html>

	<head>
		{% include head.html %}
		{% include image_meta.html img = obj%}
	</head>

<body>

    {% include header.html %} 
    
	<main>
		<section id="header">
			<h1>{{ page.title }}</h1>
				{% if thumbnail %}
					<img 
						src="{{ thumbnail.formats.webp.r900 | relative_url }}" 
						alt="{{ thumbnail.alt }}" 
						class="thumbnail"
						/>
				{% endif %}
		</section>

		<section id="content">
			{{ content }}
		</section>

		<section id="gallery">
			{% for i in obj.images %}
				{% include image.html img=i %}
			{% endfor %}
		</section>
	</main>

    {% include footer.html %}

	{% include menu.html %}

</body>

</html>
