{% assign keys = page.gallery | split: '/' %}
{% assign obj = site.data %}
{% for k in keys %}
	{% if obj[k] %}
		{% assign obj = obj[k] %}
	{% endif %}
{% endfor %}

{% assign thumbnail = obj.images[obj.thumbnail-index] %}

<!DOCTYPE html>
<html lang="es">

	<head>
		{% include head.html %}
		{% include image_meta.html img = obj %}
	</head>

<body>

    {% include header.html %} 
    
	<main>
		<section id="header">
			<h1>{{ page.title }}{% if page.year %}, {{ page.year }}{% endif %}</h1>
				{% if thumbnail %}
					{% include image.html img=thumbnail class="thumbnail" %}
				{% endif %}
		</section>

		{% if page.material or page.dimension %}
		<section id="characteristics">
			<p>{{ page.material }}</p>
			<p>{{ page.dimension }}</p>
		</section>
		{% endif %}

		<section id="content">
			{{ content }}
		</section>

		<section id="gallery">
			{% for i in obj.images %}
				{% include image.html img=i %}
			{% endfor %}
		</section>
	</main>

    {% include footer.html %}

	{% include menu.html %}

</body>

</html>
